* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(0, 6, 32);
    position: sticky;
    top: 0;
    padding: 12px 0px;
    overflow: hidden;
}

.container .nav-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    margin-left: 10px;
}

.logo .image-coloms {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    overflow: hidden;
}

.logo .logo-image {
    width: 50px;
    scale: 1.4;
}

.logo .teks-logo {
    height: 22px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 2px;
    transform: translateY(12px);
}

.container .bars-hz {
    margin: 0 10px 0 0;
}

.container .bars-hz li {
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
}

.login {
    margin-left: 50px !important;
}

.container .bars-hz li a {
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: rgb(0, 6, 32);
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
}

.active {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.container .bars-hz li a:hover {
    transform: translateY(-3.5px);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/* Aside Navbar */

.side-nav {
    display: none;
  }
  
  .side-nav label input[type="checkbox"] {
    display: none;
    visibility: hidden;
    /* -webkit-appearance: none; */
  }
  
  .side-nav label input[type="checkbox"]:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }
  
  .side-nav label input[type="checkbox"]:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX();
  }
  
  .side-nav label input[type="checkbox"]:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
  }
  
  .side-nav label input[type="checkbox"]:checked ~ .slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  .side-nav label .toggle {
    z-index: 99999;
    position: fixed;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 92.2%;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  }

  .toggle:active {
    background-color: rgb(0, 0, 0) !important;
  }
  
  .side-nav label .toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(0, 6, 32);
    border-radius: 50px;
    transition: 0.3s ease;
  }
  
  .side-nav label .toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .side-nav label .toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .side-nav label .toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .side-nav label .slide {
    top: 0;
    height: 100%;
    width: 200px;
    z-index: 99999;
    position: fixed;
    background-color: rgb(0, 6, 32);
    transition: 0.5s ease;
    transform: translateX(-200px);
  }
  
  .side-nav label .slide h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-align: left;
    padding: 0;
    margin: 10px 18px 5px;
    padding-right: 30px;
    pointer-events: none;
  }
  
  .side-nav label .slide .bars-vt {
    margin-top: 10px;
    padding: 0;
  }
  
  .side-nav label .slide .bars-vt li {
    list-style: none;
    font-size: 16px;
  }
  
  .side-nav label .slide .bars-vt li a {
    color: #ffffff;
    font-weight: 500;
    padding: 5px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
  }
  
  .side-nav label .slide .bars-vt li a:hover {
    color: #fff;
    background-color: rgb(1, 15, 82);
  }
  
  .side-nav label .slide .bars-vt li a i {
    width: 46px;
    text-align: center;
  }

  .slide-login {
    margin-top: 430px;
  }
